<!-- eslint-disable @angular-eslint/template/elements-content -->
<div class="container">
  <div class="terminal_toolbar">
    <div class="butt">
      <button class="btn btn-color"></button>
      <button class="btn"></button>
      <button class="btn"></button>
    </div>
    <p class="user">Questão:</p>
    <div class="add_tab">x</div>
  </div>
  <div class="terminal_body">
    <div class="terminal_prompt">
      <span class="terminal_bling">$</span>
    </div>
    <div class="terminal_output">
      <pre class="output_text">{{questao}}</pre>
    </div>
    <div class="terminal_input">
      <input placeholder="Type a command..." class="input_text" type="text" />
    </div>
  </div>
</div>
